<div class="container-fluid">
    <div class="row col-12">
        <h1 class="title">Evento Digital</h1>
    </div>
    <div class="row col-12">
        <form class="row g-4">
            <div class="col">            
                <label for="selectPlat" class="form-label">Plataforma: </label>
            </div>
            <div class="col"> 
                <select
                    id="selectPlat"
                    class="form-select"
                    [(ngModel)]="plataforma"    
                >
                    <option *ngFor="let c of platList" [ngValue] = "c" >{{c.name}}</option>
                </select>
            </div>
            <div class="col"> 
                <button class="btn btn-secondary">Consultar</button>      
            </div>
        </form>
    </div>
    <div class="row"></div>
    <div class="row col-12">
        <table class="table table-striped g-4">
            <thead>
                <tr>
                    <th>Evento</th>
                    <th>Fecha</th>
                    <th>Cantidad</th>
                    <th>Costo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let evento of eventos" >
                    <td>{{evento.idEvento}}</td>
                    <td>{{evento.fechaEvento}}</td>
                    <td>{{evento.numeroEventos}}</td>
                    <td>{{evento.costoEvento}}</td>
                </tr>
            </tbody>
        </table>
        
    </div>
</div>
